body{
     background:#0f172a;
     width:100%;
     max-width:1200px;
     margin:0 auto;
     min-height:100vh;
   }

.images-card{
  display:grid;
  grid-template-columns:
      repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
}
     
.images-card img{
  width:100%;
  border-radius:15px;
  transition:.3s ease;
  cursor:pointer;
}
.images-card img:hover{
  transform:scale(1.05);
}



