body{
     background:#0f172a;
     width:100%;
     max-width:1200px;
     margin:0 auto;
     min-height:100vh;
}

h1{
     text-font:2rem;
     text-weight:700;
     text-align:center;
     margin-bottom:20px;
     color:rgba(178 172 190 1);
     
}

.designs{
  width:100%;
  display:flex;
}
.images-card{
  border: 1px solid rgba(173 162 212 .6); 
  
     
}
